/* Aplica a todos los formularios */
form {
    max-width: 800px;
    margin: 0 auto; /* Centrar el formulario */
    padding: 20px;
  }
  
  
  /* Espaciado entre los grupos del formulario */
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  /* Opcional: ajustar la apariencia de los checkboxes y botones */
  .form-check-input {
    margin-right: 10px;
  }
  
  button:disabled {
    background-color: #ccc; /* Color gris para botones deshabilitados */
    cursor: not-allowed;
  }
  .text-muted{
    color:white;
  }
  .custom-input {
    border: 1px solid rgba(255, 255, 255, 0.1); /* Borde fino y opaco */
    background-color: #1e1e1e; /* Fondo oscuro */
    color: white; /* Texto claro */
  }
  
  .custom-input:focus {
    border-color: rgba(255, 255, 255, 0.1); /* Borde más visible al enfocarse */
    outline: none; /* Eliminar borde adicional de enfoque */
  }
  